.Landing {
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.emptyState {
  text-align: center;
}

.emptyState img {
  width: 200px;
}

.emptyState h2 {
  margin: 20px 0;
}

.emptyState p {
  color: gray;
}