.resource {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  background: #fff;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.resourceIcon {
  color: #ff6464; /* Add color to the icon */
  font-size: 24px;
  margin-right: 10px;
}

.resourceDetails {
  display: flex;
  flex-direction: column;
}

.resourceName {
  font-weight: 600;
}

.resourceType {
  color: #777;
  font-size: 12px;
}

.kebabButton {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1;
  width: 150px;
}

.dropdown p {
  padding: 10px 20px;
  margin: 0;
  cursor: pointer;
}

.dropdown p:hover {
  background: #f7f7f7;
}
