.module {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 20px;
  background: #f9f9f9;
}

.moduleHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.moduleHeader h3 {
  margin: 0;
}

.moduleHeader button {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 30px;
  right: 10px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1;
  width: 150px;
}

.dropdown p {
  padding: 10px 20px;
  margin: 0;
  cursor: pointer;
}

.dropdown p:hover {
  background: #f7f7f7;
}
